$container-max-widths: (
        md: 720px,
        lg: 960px,
        xl: 1800px
);




  // Typography
  //
  // Font, line-height, and color for body text, headings, and more.


$headings-padding:       10px !default;


  //
  // Headings
  //

.h1_ltt, .h2_ltt, .h3_ltt, .h4_ltt, .h5_ltt, .h6_ltt {

  padding: $headings-padding;

};


// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
                (
                        "100": $gray-100,
                        "200": $gray-200,
                        "300": $gray-300,
                        "400": $gray-400,
                        "500": $gray-500,
                        "600": $gray-600,
                        "700": $gray-700,
                        "800": $gray-800,
                        "900": $gray-900
                ),
                $grays
);

$clear_sky: #478fcd !default;
$limeade: #5fad46 !default;
$canary: #ffdd00 !default;
$salamander: #f15a22 !default;
$strawberry: #ee3239 !default;
$strawberrylight: #ee3239 !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$blue-dark: rgb(17,69,116) !default;
$blue-dark-trans: rgba(17,69,116,0.9) !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
                (
                        "clear_sky": $clear_sky,
                        "limeade": $limeade,
                        "canary": $canary,
                        "salamander": $salamander,
                        "strawberry": $strawberry,
                        "strawberrylight": $strawberrylight,
                        "blue":       $blue,
                        "indigo":     $indigo,
                        "purple":     $purple,
                        "pink":       $pink,
                        "red":        $red,
                        "orange":     $orange,
                        "yellow":     $yellow,
                        "green":      $green,
                        "teal":       $teal,
                        "cyan":       $cyan,
                        "white":      $white,
                        "gray":       $gray-600,
                        "gray-dark":  $gray-800,
                        "blue-dark":  $blue-dark,
                        "blue-dark-trans":$blue-dark-trans,
                ),
                $colors
);

$primary:       $clear_sky !default;
$indigo:        $indigo !default;
$secondary:     $gray-600 !default;
$third:         $limeade !default;
$fourth:        $salamander !default;
$fifth:         $strawberry !default;
$sixth:         $strawberrylight !default;
$info:          $cyan !default;
$success:         $green !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
                (
                        "primary":    $primary,
                        "indigo":     $indigo,
                        "secondary":  $secondary,
                        "third":      $third,
                        "fourth":      $fourth,
                        "fifth":      $fifth,
                        "sixth":      $sixth,
                        "success":    $success,
                        "info":       $info,
                        "warning":    $warning,
                        "danger":     $danger,
                        "light":      $light,
                        "dark":       $dark,
                        "blue-dark":  $blue-dark,
                        "blue-dark-trans":$blue-dark-trans
                ),
                $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;






$font-family-open-sans:      'Open Sans', Roboto, "Helvetica Neue",sans-serif;
$font-family-base:            $font-family-open-sans !default;